<div class="row">
  <div class="col-lg-4 mx-auto">
    <h4 class="text-muted text-center mt-5 mb-0">
      Zaloguj się
    </h4>
    <form
      class="text-center p-5"
      [formGroup]="loginForm.form"
      (ngSubmit)="signIn()"
    >
      <app-custom-control
        *ngFor="let control of formControls.controls"
        [customControl]="control"
      ></app-custom-control>

      <button
        class="btn btn-success btn-block my-4"
        type="submit"
        [disabled]="!loginForm.form.valid"
      >
        Zaloguj się
      </button>

      <div *ngIf="invalidLogin" class="alert alert-danger">
        Nieudana próba logowania.
      </div>

      <p>
        Nie posiadasz konta?
        <a routerLink="/register">Zarejestruj się</a>
      </p>
    </form>
  </div>
</div>
