.my-btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  margin-bottom: 2rem;
  outline: none;
  position: relative;
  background-color: #006bbd;
  box-shadow: 0 6px #014c85;
  transition: none;
  vertical-align: middle;
}

.my-btn:hover {
  box-shadow: 0 4px #014c85;
  top: 2px;
}
