<h4 class="text-muted text-center mt-5 mb-3">
  Moje zadania:
</h4>

<div *ngIf="isTodosLoaded" class="col-8 mx-auto">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="align-middle text-muted col-first">#</th>
        <th scope="col" class="align-middle text-muted col-title">
          Tytuł
        </th>
        <th scope="col" class="align-middle text-muted col-desc">
          Opis
        </th>
        <th scope="col" class="col-button">
          <button
            class="btn btn-success btn-block"
            (click)="openModal(content)"
          >
            Dodaj zadanie
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <th scope="row" class="align-middle text-muted">{{ i + 1 }}</th>
        <td class="align-middle text-muted">{{ todo.title }}</td>
        <td class="align-middle text-muted">{{ todo.description }}</td>
        <td class="align-middle">
          <button
            class="btn btn-danger btn-block"
            (click)="deleteTodo(todo.id)"
          >
            Usuń
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nowe zadanie</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="text-center p-5" [formGroup]="createForm.form">
      <app-custom-control
        *ngFor="let control of formControls.controls"
        [customControl]="control"
      ></app-custom-control>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Anuluj
    </button>
    <button
      class="btn btn-success"
      [disabled]="!createForm.form.valid"
      (click)="toggleModal()"
    >
      Dodaj
    </button>
  </div>
</ng-template>
