.my-div {
  display: inline;
}

.btn-small {
  width: 80px;
  padding: 0;
}

.close {
  outline: none !important;
}

.col-first {
  width: 5%;
}

.col-title {
  width: 25%;
}

.col-button {
  width: 20%;
}

.col-desc {
  width: 50%;
}
